
.heading {
  color: white;
  padding: 15px 10px 10px 35px;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-image: url('https://news.weill.cornell.edu/sites/default/files/styles/news_story_featured_image/public/story_featured_images/shutterstock_1620672310_1.jpg');
  background-size: cover;
  height: 100px;
  margin-bottom: 5px;
}

.heading label {
  font-size: 15px
};

.heading a {
  color: white;
}

.lc-main-div {
  margin-bottom: 15px;
  margin-left: 15px;
}